.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    grid-auto-rows: minmax(100%, auto);
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.box2 {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
}

.box4 {
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}